/* Profile page */
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.3);
}

.card.hovercard .cardheader {
    background: url("../img/background-images/Elegant_Background-14.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 20px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 200px;
    margin-bottom: 17px;
}

/*.cards.col-lg-3.col-sm-6{
    width: 100%;
}
*/




/*End Profile Page */
.modal {
    background: rgba(31, 31, 31, 0.96)
}
.pop-up {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: none;
}
.cls-pop {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: normal;
    z-index: 999;
}
.cls-pop:hover {
    color: #ff382e;
    text-decoration: none;
}
.pop-up h3 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 60px 0;
    padding: 0;
    color: #ff382e;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}
.pop-up h3:before {
    background-color: #ff382e;
    bottom: -30px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 300px;
}
.pop-up h3:before {
    left: 50%;
    margin-left: -150px;
}
.pop-up p {
    margin: 10px 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    color: #dadada;
}
.pop-up-cnt {
    text-align: center;
}
.pop-up-cnt i {
    height: 40px;
    width: 40px;
    background-color: #ff3b30;
    border-radius: 50%;
    color: #ffffff;
    line-height: 40px;
    margin-bottom: 10px;
}
.pop-up-cnt h4 {
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.pop-up-cnt .cnt-wrap {
    padding-top: 30px;
}
.postForm label
{   
    font-size: 14px;
    color: #fff;
}
.postButtons
{
    background-color: #ff382e;
    color: #fff;
    border-radius: 4px !important;
    border-color: #ff382e; 
}
.closePostButton
{
    border-radius: 4px !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #c40d19;
    border-color: #c40d19; /*set the color you want here*/
    border-radius: 4px !important;
}

.darkDiv{
    background-color: #404040; 
}
